.sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100vh;
  background: var(--sidebar-color);
  color: var(--sender-text-color);
  overflow: hidden;
  position: relative;
}



.sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}

.sidepanel #profile.expanded .wrap {
  height: 270px;
}

.sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}

.contact p {
  min-height: 15px;
  /* overflow-y: visible !important; */
  line-height: 0.95;
}

.sidepanel #profile.expanded .wrap i.expand-button {
  /* -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1); */
  transform: rotate(540deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

@media screen and (max-width: 800px) {
  .sidepanel #profile .wrap {
    height: 55px;
  }
}

.sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

@media screen and (max-width: 800px) {
  .sidepanel #profile .wrap img {
    /* width: 40px; */
    margin-left: 4px;
  }
}

.profile-img {
  width: fit-content;
  padding: 3px;
  border-radius: 50%;
  display: inline-block;
}

.online {
  border: var(--status-border-size) solid #2ecc71;
}

.away {
  border: var(--status-border-size) solid #f1c40f;
}

.busy {
  border: var(--status-border-size) solid #e74c3c;
}

.offline {
  border: var(--status-border-size) solid #95a5a6;
}

.sidepanel #profile .wrap .user {
  float: right;
  margin-left: 15px !important;
  display: flex;
  justify-content: space-around;
  width: 200px;
  align-items: center;
}

@media screen and (max-width: 834px) {
  .sidepanel #profile .wrap .user {
    width: 160px;
  }
}

@media screen and (max-width: 800px) {
  .sidepanel #profile .wrap p {
    display: none;
  }
}

.sidepanel #profile .wrap i.expand-button {
  float: right;
  font-size: 0.8em;
  cursor: pointer;
  color: var(--sender-text-color);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}

.sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 20px 0 0 0;
  border-radius: 6px;
  z-index: 990000;
  line-height: initial;
  background: var(--sidebar-dark-accent);
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 800px) {
  .sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}

.sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .sidepanel #profile .wrap #status-options.active {
    margin-top: 17px;
  }
}

.sidepanel #profile .wrap #status-options:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid var(--sidebar-dark-accent);
  margin: -8px 0 0 24px;
}

@media screen and (max-width: 800px) {
  .sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}

.sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
  margin: 0 !important;
}

.sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 15px 18px;
  display: block;
  cursor: pointer;
}

.sidepanel #profile .wrap #status-options ul li:hover {
  background: var(--sidebar-accent-color);
}

.sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}

.sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -2px 0 0 -2px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}

.sidepanel #profile .wrap #status-options ul li p {
  padding-left: 22px;
}

.sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-online
  span.status-circle {
  background: #2ecc71;
}

.sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-online.active
  span.status-circle:before {
  border: 1px solid #2ecc71;
}

.sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}

.sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-away.active
  span.status-circle:before {
  border: 1px solid #f1c40f;
}

.sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}

.sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-busy.active
  span.status-circle:before {
  border: 1px solid #e74c3c;
}

.sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-offline
  span.status-circle {
  background: #95a5a6;
}

.sidepanel
  #profile
  .wrap
  #status-options
  ul
  li#status-offline.active
  span.status-circle:before {
  border: 1px solid #95a5a6;
}

.sidepanel #profile .wrap #expanded {
  padding: 30px 0 0 0;
  display: block;
  line-height: initial !important;
}

.sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}

.sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: var(--sidebar-accent-color);
  border-radius: 3px;
  color: var(--sender-text-color);
  padding: 7px;
  width: calc(100% - 43px);
}

.sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: var(--sidebar-dark-accent);
}

.sidepanel #search {
  border-top: 1px solid var(--sidebar-accent-color);
  border-bottom: 1px solid var(--sidebar-accent-color);
  font-weight: 300;
  box-shadow: var(--base-box-shadow);
  z-index: 10;
  position: relative;
}

.sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}

.sidepanel #search input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100%);
  border: none;
  background: var(--sidebar-accent-color);
  color: var(--sender-text-color);
}

.sidepanel #search input:focus {
  outline: none;
  background: var(--sidebar-dark-accent);
}

.sidepanel #search input::-webkit-input-placeholder {
  color: var(--sender-text-color);
}

.sidepanel #search input::-moz-placeholder {
  color: var(--sender-text-color);
}

.sidepanel #search input:-ms-input-placeholder {
  color: var(--sender-text-color);
}

.sidepanel #search input:-moz-placeholder {
  color: var(--sender-text-color);
}

.sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}

.sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: var(--sidebar-color);
}

.sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}

.sidepanel #contacts ul li.contact {
  position: relative;
  padding: 15px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
  /* margin-bottom: 15px; */
}

.sidepanel #contacts ul li.contact:hover {
  background: var(--sidebar-accent-color);
}

.sidepanel #contacts ul a.active li.contact {
  background: var(--sidebar-accent-color);
  border-right: 5px solid var(--sidebar-dark-accent);
}

.sidepanel #contacts ul a.active li.contact span.contact-status {
  border: 2px solid var(--sidebar-accent-color) !important;
}

.sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--sidebar-color);
  background: #95a5a6;
}

.sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}

.sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}

.sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}

.sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
  color: var(--sender-text-color);
}

.sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}

.sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0 !important;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: 0.75;
}

.sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sidepanel #bottom-bar #addcontact, .sidepanel #bottom-bar .bottom-button {
  float: left;
  border: none;
  width: 50%;
  padding: 15px 0;
  background: var(--sidebar-accent-color);
  color: var(--sender-text-color);
  text-align: center;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  text-decoration: none;
}



.sidepanel #bottom-bar *:focus {
  outline: none;
  background: var(--sidebar-dark-accent) !important;
}

.sidepanel #bottom-bar .bottom-button:hover {
  background: var(--sidebar-dark-accent) !important;
}

.sidepanel #bottom-bar .bottom-button i {
  margin-right: 3px;
  font-size: 1em;
}



a.normalize {
  text-decoration: none !important;
}

.modal-Body{
  background: var(--accent-color) !important;
}

@media screen and (max-width: 800px) {
    .sidepanel #bottom-bar .bottom-button i:before {
      position: relative;
      top: 3px;
      /* left: 2px; */
    }

    .sidepanel {
        width: 58px;
        min-width: 58px;
    }

    .sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: var(--sidebar-accent-color);
    }

    #profile-img {
        display: flex !important;
        justify-content: center;
        align-items: center;
        /* margin: 0 !important; */
        margin-left: 3px !important;
    }
    .sidepanel #bottom-bar .bottom-button span.footertip {
        display: none;
    }
    .sidepanel #bottom-bar .bottom-button i {
        font-size: 1.3em;
    }
    .sidepanel #bottom-bar .bottom-button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid var(--sidebar-color);
    }
    .sidepanel #bottom-bar .bottom-button {
        float: none;
        width: 100% !important;
        padding: 15px 0 !important;
    }
    /* .sidepanel #bottom-bar .bottom-button span {
      display: none;
    } */
    .sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
    .sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
    }
    .sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
    .sidepanel #contacts ul li.contact {
        padding: 6px 0 36px 8px;
        margin-bottom: 15px;
    }
    .sidepanel #contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }
    .sidepanel #search {
        display: none;
    }
    .sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
    .sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
    .sidepanel #profile .wrap #status-options ul li span.status-circle {
        margin: -2px 0 0 0;
        width: 14px;
        height: 14px;
    }
    .sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 25px 22px;
    }
}

span.footer-button-span{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}